/* Responsive  */
@media screen and (max-width: 1272px) {
    .footer {
        height: 70vh !important;
    }
}

@media screen and (max-width: 992px) {
    .footer .signup {
        margin-top: 5% !important;
        margin-right: 15px !important;
    }

    .footer .signup input {
        width: 325px !important;
    }

    .footer .signup button {
        margin-left: -36px !important;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        height: 120vh !important;
    }

    .footer .signup {
        top: 100% !important;
    }

    .footer .services ul {
        right: 10% !important;
    }

}

@media screen and (max-width: 421px) {
    .footer .footer_elements {
        width: 80% !important;
    }

    .footer .signup input {
        width: 250px !important;
    }
}


@media screen and (max-width: 576px) {


    .footer .signup {
        margin-top: 5% !important;
    }
}


@media screen and (max-width: 301) {
    .footer {
        height: 85vh !important;
    }

    .footer .mail {
        position: relative !important;
        right: 8% !important;
    }

    .footer input {
        width: 50% !important;
        justify-content: center !important;
    }

}

/* ////////////////////////////////////////////////////// */


.footer {
    background-color: var(--second-color);
    height: 50vh;
    color: #FFFFFF;
    bottom: 0;

}

.footer .footer_elements {
    width: 60%;
    margin: auto;
}


.footer .footer_elements .study {
    position: relative;
    top: 30%;
}

.footer .footer_elements .services {
    position: relative;
    top: 43%;
}

.footer .footer_elements .services ul {
    list-style-type: none !important;
    position: relative;
    right: 17%;

}

.footer .footer_elements .signup {
    position: relative;
    top: 43%;
}

.footer .study header {
    font-size: 48px;
    font-weight: bold;
    font-family: serif;
    font-style: unset;
}

.footer .study p {
    font-size: 16px;
    font-weight: 500;
}

.footer .services header,
.signup header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .services p {
    font-size: 14px;
    font-weight: 100;
}

.footer .signup .mail {
    display: flex;
}

.footer .signup .mail input,
button {
    border-radius: 25px;
}

.footer input {
    width: 479px;
}

.footer button {
    width: 205px;
    margin-left: -43%;
    border: none;
    background-color: var(--main-color);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;

}