:root {
    --main-color: #FF6057;
    --second-color: #3B3A3A;
    --p-color: #8F8F8F;
}

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

/* swiper pagination  global access */
.swiper .swiper-pagination-bullet-active {
    background-color: var(--main-color) !important;

}

.swiper .swiper-pagination {
    position: absolute;
    bottom: -40px !important;
}