/* Responsive */
@media screen and (max-width: 1245px) {
    .bestplatform {
        width: 80% !important;
    }

    .bestplatform .dashboard::before {
        left: 82% !important;
        width: 22vw !important;
    }

    .bestplatform .dashboard img {
        width: 60vh !important;
    }

    .bestplatform .dashboard::before {
        display: none;
    }

    .bestplatform .text {
        width: 95% !important;
    }

}

@media screen and (max-width: 1046px) {
    .bestplatform {
        overflow: visible !important;
    }

    .bestplatform .content {
        top: 0 !important;
    }

    .bestplatform .dashboard::before {
        display: none;
    }

    .bestplatform .dashboard {
        bottom: 0 !important;
    }

    .bestplatform .text {
        margin-top: 15% !important;
        width: 95% !important;
    }

    .bestplatform .text h1 {
        margin-bottom: 0 !important;
    }

    .bestplatform .text h1::before {
        top: 46px !important;
    }

    .bestplatform .dashboard img {
        width: 100% !important;
    }
}

@media screen and (max-width: 877px) {
    .bestplatform {
        overflow: visible !important;
    }

    .bestplatform .content {
        top: 0 !important;
    }

    .bestplatform {
        width: 95% !important;
    }
}

@media screen and (max-width: 768px) {
    .bestplatform {
        overflow: visible !important;
        height: 140vh !important;
    }

    .bestplatform .content {
        top: 0 !important;
    }

    .bestplatform .dashboard img {
        width: 90% !important;
    }

    .bestplatform .text {
        margin-left: 10% !important;
    }
}

@media screen and (max-width: 389px) {
    .bestplatform {
        overflow: visible !important;
        height: 160vh !important;
    }


    .bestplatform .dashboard img {
        width: 100% !important;
    }

    .bestplatform .dashboard {
        left: 0 !important;
    }
}

@media screen and (max-width: 301px) {
    .bestplatform {
        overflow: visible !important;
        height: 160vh !important;
    }

    .bestplatform .content {
        top: 0 !important;
    }

    .bestplatform .dashboard img {
        width: 100% !important;
    }
}

/* ////////////////////////////////////// */
.bestplatform {
    width: 100%;
    margin: auto;
    position: relative;
    top: 40px;
    margin-bottom: 100px;
    overflow: hidden;
    height: 120vh;
}

.bestplatform .content {
    position: relative;
    top: 28%;
}

.bestplatform .dashboard {
    position: relative;
    bottom: 20%;

}

.bestplatform .dashboard img {
    width: 47vw;
    height: 70vh;
}

.bestplatform .dashboard::before {
    content: "";
    position: absolute;
    width: 1211.77px;
    transform: rotate(-158deg);
    overflow: hidden !important;
    height: 89vh;
    top: 6%;
    left: 65%;
    background-image: linear-gradient(to bottom, rgba(255, 96, 87, 100%), rgba(128, 128, 128, 100%));
    z-index: -1;
    border-radius: 191px;

}

.bestplatform .text {
    align-items: center;
    width: 60%;
    margin: auto;
}

.bestplatform .text h1 {
    color: var(--second-color);
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 50px;
}

.bestplatform .text h1::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 79px;
    border: solid 2px var(--main-color);
    border-radius: 10px;

}

.bestplatform .text p {
    color: var(--p-color);
    font-size: 14px;
}

.bestplatform .text span {
    color: var(--main-color);
    display: flex;
    font-size: 16px;
    font-weight: 500;
}

.bestplatform .text .icon {
    margin-left: 20px;
}